/node_modules/
functions/node_modules/
/dist/
/package/
*.zip
*.crx
.DS_Store
*.log
coverage/

# Firebase
.firebase/
firestore-debug.log
firebase-debug.log
ui-debug.log

# Environment files
.env
.env.*
!/.env.example

# IDE specific
.vscode/
!.vscode/settings.json # Keep if you want to share some settings
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Optional: If you have a build directory for other things
/build/

# Optional: PurgeCSS output if not in dist
# /css-purged/
.DS_Store
